* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  color: #d99ca1;
  transition: 300ms;
}
a:hover {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 25px;
  text-decoration: underline;
  color: #000000;
}

body {
  background-color: #eac8c9;
}

#cabecalho h1 {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif Display", serif;
  font-size: 60px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  margin: 30px 150px;
}

#imagemGeral {
  display: flex;
  justify-content: center;
}

#imagemGeral img {
  border: 1px;
  border-radius: 10px;
}

#tituloDestaque {
  font-family: "Noto Serif Display", serif;
  font-size: 30px;
  margin: 50px 50px 10px 50px;
  display: flex;
  justify-content: center;
}

#produtos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 100px;
}

#produtos .produtoDestaque {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#produtos .produtoDestaque img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-radius: 10%;
}

#produtos .produtoDestaque h3 {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

#produtos .produtoDestaque p {
  display: flex;
  justify-content: center;
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-size: 15px;
}

#rodape {
  background-color: #d99ca1;
  display: flex;
  justify-content: space-around;
}

#rodape #redessociais {
  display: flex;
  align-items: center;
}

#rodape #redessociais a {
  color: #000000;
  display: flex;
  justify-content: space-between;
  margin: 5px 15px 5px 5px;
  font-family: "Noto Serif Display", serif;
  font-size: 15px;
}

#rodape #email {
  font-family: "Noto Serif Display", serif;
  font-size: 15px;
  padding: 5px;
}

#rodape #email #inputEmail {
  font-family: "Noto Serif Display", serif;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

#rodape #email button {
  font-family: "Noto Serif Display", serif;
  background-color: #eac8c9;
  margin-left: -5px;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}
